@page
@model ADV_Bus_Pro_FinalProject_1.Pages.Characters.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>            
            <th>
                @{
                    // Alternate sort order
                    var firstSort = "first_asc";
                    if (Model.CurrentSort == "first_asc")
                    {
                        firstSort = "first_desc";
                    }
                }
                <!-- Note: This will forget the current pagenum! -->
                <a asp-page="./Index" asp-route-CurrentSort="@firstSort" asp-route-PageNum="@(Model.PageNum)">@Html.DisplayNameFor(model => model.Character[0].FirstName)</a>
            </th>
        </tr>
    </thead>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Character[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Character[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Character[0].Strength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Character[0].Dexterity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Character[0].Intelligence)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Character[0].Charisma)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Character) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Strength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dexterity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Intelligence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Charisma)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CharacterId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CharacterId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CharacterId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@{
    // If we are on page 1, prevDisabled will be set to the "disabled" class
    // otherwise, it will be empty. So our previous button will be enabled or disabled based on this logic
    var prevDisabled = "";
    if (Model.PageNum <= 1)
    {
        prevDisabled = "disabled";
    }
    var nextDisabled = "";
    if (Model.PageSize > Model.Character.Count())
    {
        nextDisabled = "disabled";
    }
}
<!-- Pagination -->
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item @prevDisabled"><a class="page-link" asp-page="./Index"  asp-route-PageNum="@(Model.PageNum - 1)" >Previous</a></li>
    <li class="page-item @nextDisabled"><a class="page-link" asp-page="./Index"  asp-route-PageNum="@(Model.PageNum + 1)" >Next</a></li>
  </ul>
</nav>
